body{
  background-image: url('../img/cork-board.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.polaroid{
  background-image: url('../img/polaroid.png');
  background-repeat: no-repeat;
  width:945px;
  height:1024px;
}

#special{
  width: 640px;
  height: 660px;
  position: relative;
  z-index: -1;
  margin-left: 133px;
  margin-top: 100px;
}
